<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mediaPlayer" connectionString="Data Source=DESKTOP-H34L3T7;Initial Catalog=MediaPllayer;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="tracksFolder" value="C:/tracksFolder"/>
    <add key="artImages" value="C:/tracksFolder/artImages"/>
  </appSettings>
</configuration>